﻿@inherits UmbracoViewPage<About>
@using Create.Web.Models.View
@{
    Layout = "Base.cshtml";

    var home = Model.AncestorOrSelf<Home>();
    var pfolder = home.Descendant<PeopleFolder>();
    var people = pfolder.Children();
    var links = home.Children().Where(l => l.IsVisible()).OrderBy(l => l.SortOrder);

}

<section class="about">
    <div class="container">
        <div class="about-content">
            <div class="about-content-main">
                @Html.Raw(Model.MissionStatement)
            </div>
        </div>
    </div>
</section>

<section class="people">
    <div class="people-flex" style="justify-content: center;">
        @foreach (var person in people) {
            var p = person as Person;
            <div class="people-flex-container" style="max-width: 400px;" data-id="@p.Id">
                @if (p.PersonImage != null) {
                    <img class="img-responsive" src="@p.PersonImage.GetCropUrl(height: 475, width: 400)" />
                }
                <div class="people-flex-container-text">
                    <h2>@p.PersonName</h2>
                    <h4>@p.PersonRole</h4>
                </div>
                <p>view bio</p>
            </div>

        }
    </div>

    @foreach (var person in people) {
        var p = person as Person;
        <div class="employee-pop-up-@p.Id employeepopup">
            <div class="employeepopup-flex">
                <i class="fa fa-times"></i>
                <div class="employeepopup-content">
                    <div class="employeepopup-content-image">
                        @if (p.PersonImage != null) {
                            <img class="img-responsive" src="@p.PersonImage.GetCropUrl(width: 659, height: 666)" />
                        }
                    </div>
                    <div class="employeepopup-content-text">
                        <h1>@p.PersonName</h1>
                        <p class="qual">@p.PersonQualifications</p>
                        <h4>@p.PersonRole</h4>
                        <p style="white-space: pre-line">@p.PersonBio</p>
                        <div class="social">
                            @if (p.PersonLinkedin != "") {
                                <i class="fab fa-linkedin"></i>
                            }
                            @if (p.PersonTwitter != "") {
                                <i class="fab fa-twitter-square"></i>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</section>

<section class="textcall">
    <div class="container">
        @Html.Raw(Model.CalloutText)
    </div>
</section>



<section class="docs" id="docs">
    <div class="container">
        <h4>helpful documents</h4>
        <div class="docs-flex">
            @foreach (var doc in Model.Documents) {
                var d = doc as Documents;
                <div class="docs-flex-content">
                    <p>@d.Title</p>
                    <p>@d.Text</p>
                    @if (d.Document != null) {
                        <a class="btn" target="_blank" href="@d.Document.Url">Download</a>
                    }
                </div>
            }
        </div>
    </div>
</section>



@if (Model.ShowAdvert) {
    if (Model.HasValue("video")) {
        <section class="vr" style="background-image: url(@Model.Image.Url);">
            <div class="container">
                <div class="vr-content">
                    @if (Model.HasValue("logo")) {
                        <img class="img-responsive" src="@Model.Logo.Url" />
                    }
                    <h1>@Model.Text</h1>
                    <i class="far fa-play-circle showvid"></i>
                </div>
            </div>
            <video controls>
                <source src="@Model.Video.Url" type="video/mp4" />
            </video>
        </section>
    } else {
        <section class="vr" style="background-image: url(@Model.Image.Url);">
            <div class="container">
                <div class="vr-content">
                    @if (Model.HasValue("logo")) {
                        <img class="img-responsive" src="@Model.Logo.Url" />
                    }
                    <h1>@Model.Text</h1>
                    <h4><a href="/contact">@Model.CallToAction</a></h4>
                </div>
            </div>
        </section>
    }
}

<div class="employee-overlay"></div>