﻿@inherits UmbracoViewPage<Article>
@using Create.Web.Models.View
@{
    Layout = "Base.cshtml";
    var home = Model.AncestorOrSelf<Home>();
    var news = home.Descendant<News>();
    DateTime date = Model.GetPropertyValue<DateTime>("articleDate");
    var links = home.Children().Where(l => l.IsVisible()).OrderBy(l => l.SortOrder);
}

<nav class="mobnav" id="home">
    <div class="nav-container">
        <div class="mobnav-flex">
            <a href="/"><img class="img-responsive" style="position: relative; z-index:3" src="~/public/img/logo.png" /></a>
            <button class="hamburger hamburger--stand" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
    <div class="mobnav-links">
        <ul>
            @foreach (var l in links) {
                <li><a href="@l.Url">@l.Name.ToLower()</a></li>
            }
        </ul>
    </div>
</nav>

<section class="news">
    <div class="news-flex">
        @if (Model.HideImage) {
            <div class="news-flex-image">
                <a href="/" class="news-flex-logo">
                    <img class="img-responsive" src="~/public/img/logo.png" />
                </a>
                <div class="news-flex-image-text">
                    <p>news</p>
                    <h3>@date.ToLongDateString().Replace(date.DayOfWeek.ToString() + ", ", "")</h3>
                    <h1>@Model.ArticleTitle</h1>
                </div>
                <p class="news-flex-image-link"><a href="@news.Url"><i class="fas fa-angle-left"></i>view all articles</a></p>
            </div>
        } else if (Model.ArticleImage != null) {
            <div class="news-flex-image" style="background-image:url(@Model.ArticleImage.Url)">
                <a href="/" class="news-flex-logo">
                    <img class="img-responsive" src="~/public/img/logo.png" />
                </a>
                <div class="news-flex-image-text">
                    <p>news</p>
                    <h3>@date.ToLongDateString().Replace(date.DayOfWeek.ToString() + ", ", "")</h3>
                    <h1>@Model.ArticleTitle</h1>
                </div>
                <p class="news-flex-image-link"><a href="@news.Url"><i class="fas fa-angle-left"></i>view all articles</a></p>
            </div>
        }

        <div class="news-flex-content">
            <div class="news-flex-list">
                <ul class="news-flex-list-content">
                    @foreach (var l in links) {
                        <li><a href="@l.Url" class="@(Model.Id == l.Id ? "on" : "")">@l.Name.ToLower()</a></li>
                    }
                </ul>
            </div>
            <div class="news-flex-content-text rte">
                @Html.Raw(Model.ArticleText)
            </div>
        </div>
    </div>
</section>
