﻿@inherits UmbracoTemplatePage<Base>
@using Create.Web.Models.View
@{
    /**/

    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="~/public/img/favicon.ico" />
    @Html.Partial("metatitle")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.typekit.net/pwm3hbz.css">
    <link href="https://rawgit.com/kenwheeler/slick/master/slick/slick.css" rel="stylesheet" />
    <link href="https://rawgit.com/kenwheeler/slick/master/slick/slick-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/base.css?@DateTime.Now.Ticks" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.css" />
    @Html.CachedPartial("metadata", null, 600, cacheByPage: true)
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-55125747-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-55125747-1');
    </script>

</head>
<body>
    <div class="create-wrap">
        @Html.Partial("nav")
        @RenderBody()
        @Html.Partial("footer")
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/11.1.0/nouislider.min.js"></script>
    <script src="https://rawgit.com/kenwheeler/slick/master/slick/slick.js"></script>
    <script type="text/javascript" src="/public/js/site.min.js?@DateTime.Now.Ticks"></script>
    <script type="text/javascript" src="/public/js/app.js?@DateTime.Now.Ticks"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>

    <script>
        var swiper = new Swiper('.swiper-container-highlight', {
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },

            autoplay: {
                delay: 4500,
                disableOnInteraction: false,
            },
        });
    </script>

    <script>
        var swipergal = new Swiper('.swiper-container-gal', {
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            hashNavigation: true
        });
    </script>

    <script>
        var swipertest = new Swiper('.testimonial-slider', {
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>

    <script>


    </script>
    @RenderSection("Scripts", false)
</body>
</html>