﻿@inherits UmbracoViewPage<ContentPage>
@using Create.Web.Models.View
@{
    Layout = "Base.cshtml";
}

<section class="content rte">
<div class="container">
    <h2>@Model.Name</h2>
    @Html.Raw(Model.Text)
</div>
</section>