﻿@inherits UmbracoViewPage<Contact>
@using Create.Web.Models.View
@{
    Layout = "Base.cshtml";
    var home = Model.AncestorOrSelf<Home>();
    var settings = home.Descendant<Settings>();
    var address = settings.Address.Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries).Select(l => l.Trim());
    var links = home.Children().Where(l => l.IsVisible()).OrderBy(l => l.SortOrder);
}

<section class="contact">
    <div class="contact-flex">
        <div class="contact-flex-map">
            <div id="map"></div>
        </div>
        <div class="contact-flex-text" style="background-image: url(@Model.CreateImage.Url);">
            <div class="inner">
                <h4 class="contact-flex-text-title">We offer free initial consultations. </h4>
                <div class="details">
                    <h4><a target="_blank" href="tel:01481 259333" onclick="gtag('event', 'Click', { 'event_category': 'Outbound Link', 'event_action':'Click','event_label':'Telephone' });">01481 259333</a></h4>
                    <h4><a target="_blank" href="mailto:hello@create-architecture.com" onclick="gtag('event', 'Click', { 'event_category': 'Outbound Link', 'event_action':'Click','event_label':'Email' });">hello@create-architecture.com</a></h4>
                </div>
                <h3>Create Ltd</h3>
                @foreach (var l in address) {
                    <h3>@l</h3>
                }
            </div>
        </div>
    </div>
</section>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEo6PZmRhol8S2fa4lOwlgJMbh7M-3Xks&callback=myMap"
        defer async>
</script>

<script>
    function myMap() {
        var mapCanvas = document.getElementById("map");
        var mapOptions = {
            center: new google.maps.LatLng(@settings.Latitude, @settings.Longitude),
            zoom: 15,
            scrollwheel: false,
        };
        var map = new google.maps.Map(mapCanvas, mapOptions);
        google.maps.event.addDomListener(window, "resize", function () {
            var center = map.getCenter();
            google.maps.event.trigger(map, "resize");
            map.setCenter(center);

        });
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(@settings.Latitude, @settings.Longitude),
            title: "Hello World!"

        });
        marker.setMap(map);
    }
</script>
