﻿@inherits UmbracoViewPage<Home>
@using Create.Web.Models.View
@{
    Layout = "Base.cshtml";

    int i = 0;
    var home = Model.AncestorOrSelf<Home>();

    var links = home.Children().Where(l => l.IsVisible()).OrderBy(l => l.SortOrder);
}

<div class="sliderContainer">
    <div class="slider single-item">
        @foreach (var slider in Model.HeroSlider) {
            var s = slider as ImageAndText;
            <div style="background-image:url(@s.Image.Url)">
                <div class="slider-text">
                    <div class="container">
                        <h2>@s.Text</h2>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="progressBarContainer">
        <div class="container">

            @foreach (var slider in Model.HeroSlider) {
                <div class="progressBarSize pbs pbs-@i">
                    <span data-slick-index="@i" class="progressBar"></span>
                </div>
                i++;
            }
        </div>
    </div>
</div>


<section class="about">
    <div class="container">
        <div class="about-content">

            <div class="about-content-main">
                @Html.Raw(Model.AboutUsText)
            </div>
            <div class="about-content-list">
                <h4>our services.</h4>
                <div class="about-content-list-flex">
                    <ul>
                        @foreach (var service in Model.Services) {
                            <li>@service</li>
                        }
                    </ul>

                    <div class="logos">
                        <a href=" http://www.arb.org.uk/" target="_blank"><img class="img-responsive" src="~/public/img/newarb.png" style="max-height: 40px;" /></a>
                        <a href="https://www.rics.org/uk/" target="_blank"><img class="img-responsive" src="~/public/img/rics-logo.png" style="max-height: 40px;" /></a>
                        <a href="https://www.architecture.com/" target="_blank"><img class="img-responsive" src="~/public/img/riba-logo.png" style="max-height: 40px;" /></a>
                        <!-- <a href="https://guernseychamber.com/" target="_blank"><img class="img-responsive" src="~/public/img/gcc-2021-black.png" style="max-height: 40px;" /></a> -->
                    </div>
                </div>
            </div>
            <img class="gda" src="~/public/img/gda2.png" />
            <img class="gda gda--2" src="~/public/img/gda.png" />
        </div>
    </div>
</section>


@if (Model.ShowAdvert) {

    if (Model.HasValue("video")) {

        <section class="vr" style="background-image: url(@Model.Image.Url);">
            <div class="container">
                <div class="vr-content">
                    @if (Model.Logo != null) {
                        <img class="img-responsive" src="@Model.Logo.Url" />
                    }
                    <h1>@Model.Text</h1>
                    <i class="far fa-play-circle showvid"></i>
                </div>
            </div>
            <video controls id="video">
                <source src="@Model.Video.Url" type="video/mp4" />
            </video>
        </section>
    } else {
        <section class="vr" style="background-image: url(@Model.Image.Url);">
            <div class="container">
                <div class="vr-content">
                    <img class="img-responsive" src="@Model.Logo.Url" />
                    <h1>@Model.Text</h1>
                    <h4><a href="/contact">@Model.CallToAction</a></h4>
                </div>
            </div>
        </section>
    }
}






