﻿@inherits UmbracoViewPage<News>
@using Create.Web.Models.View
@{
    Layout = "Base.cshtml";

    IEnumerable<Article> articles;

    var tag = Request.QueryString["tag"];

    if (string.IsNullOrEmpty(Request.QueryString["tag"])) {
        articles = Model.Descendants<Article>().OrderByDescending(x => x.ArticleDate);
    } else {
        articles = Model.Descendants<Article>().Where(i => i.Parent.Parent.Name.Contains(Request.QueryString["tag"])).OrderByDescending(x => x.ArticleDate);
    }

    var home = Model.AncestorOrSelf<Home>();
    var about = home.Descendant<About>();
    var links = home.Children().Where(l => l.IsVisible()).OrderBy(l => l.SortOrder);

}

<section class="intro">
    <div class="container">
        <h2>News</h2>
        <div class="about-content" style="margin-top: 20px;">
            <div class="about-content-main">
                @Html.Raw(Model.NewsIntro)
            </div>
        </div>
    </div>
</section>
<section class="about">
    <div class="container">

    </div>
</section>

<section class="portfolio">
    <div class="container">
        <ul>
            <li><a class="portfolio-list @(tag == null  ? "on" : "")" href="@Model.Url">view all.</a></li>
            @foreach (var folder in Model.Children().Where(x => x.Descendants<Article>().Count() > 0)) {
                <li class="portfolio-list"><a class="portfolio-list @(tag == folder.Name  ? "on" : "")" href="@Model.Url?tag=@folder.Name">@folder.Name.ToLower()</a></li>
            }
        </ul>
    </div>
</section>


<section class="newslisting">
    <div class="container">
        <div class="newslisting-flex">

            @foreach (var article in articles.Take(6)) {
                var a = article as Article;
                DateTime date = a.GetPropertyValue<DateTime>("articleDate");
                <a href="@a.Url" class="newslisting-flex-container">
                    <div class="inner">
                        @if (a.ArticleImage != null) {
                            <img class="img-responsive" src="@a.ArticleImage.GetCropUrl(width: 387, height: 387)" />
                        }
                    </div>
                    <div>
                        <p>@date.ToString("MMMM d, yyyy") <span>@a.Parent.Parent.Name</span></p>
                        <h4>@a.ArticleTitle</h4>
                    </div>
                </a>
            }
        </div>

        @if (articles.Count() > 6) {
            <p id="newsclick">View More</p>
            <div class="newslisting-flex" id="newsmore">

                @foreach (var article in articles.Skip(6)) {
                    var a = article as Article;
                    DateTime date = a.GetPropertyValue<DateTime>("articleDate");
                    <a href="@a.Url" class="newslisting-flex-container">
                        <div class="inner">
                            @if (a.ArticleImage != null) {
                                <img class="img-responsive" src="@a.ArticleImage.GetCropUrl(width: 387, height: 387)" />
                            }
                        </div>
                        <div>
                            <p>@date.ToString("MMMM d, yyyy") <span>@a.Parent.Parent.Name</span></p>
                            <h4>@a.ArticleTitle</h4>
                        </div>
                    </a>

                }
                <div class="newslisting-flex-container">

                </div>
            </div>
        }
    </div>
</section>
@if (Model.ShowAdvert) {
    if (Model.HasValue("video")) {
        <section class="vr" style="background-image: url(@Model.Image.Url);">
            <div class="container">
                <div class="vr-content">
                    @if (Model.HasValue("logo")) {
                        <img class="img-responsive" src="@Model.Logo.Url" />
                    }
                    <h1>@Model.Text</h1>
                    <i class="far fa-play-circle showvid"></i>
                </div>
            </div>
            <video controls>
                <source src="@Model.Video.Url" type="video/mp4" />
            </video>
        </section>
    } else {
        <section class="vr" style="background-image: url(@Model.Image.Url);">
            <div class="container">
                <div class="vr-content">
                    @if (Model.HasValue("logo")) {
                        <img class="img-responsive" src="@Model.Logo.Url" />
                    }
                    <h1>@Model.Text</h1>
                    <h4><a href="/contact">@Model.CallToAction</a></h4>
                </div>
            </div>
        </section>
    }
}