﻿@inherits UmbracoViewPage<Portfolio>
@using Create.Web.Models.View
@{
    Layout = "Base.cshtml";
    IEnumerable<Project> projects;

    var tag = Request.QueryString["tag"];

    var home = Model.AncestorOrSelf<Home>();

    var links = home.Children().Where(l => l.IsVisible()).OrderBy(l => l.SortOrder);

    if (string.IsNullOrEmpty(Request.QueryString["tag"])) {
        projects = Model.Descendants<Project>().Where(p => p.IsVisible());
    } else {
        projects = Model.Descendants<Project>().Where(i => i.IsVisible() && i.Parent.Name.Contains(Request.QueryString["tag"]));
    }
}

<section class="intro">
    <div class="container">
        <h2>@Model.MissionStatement</h2>
    </div>
</section>

<section class="portfolio">
    <div class="container">
        <ul>
            <li><a class="portfolio-list @(tag == null  ? "on" : "")" href="@Model.Url">view all.</a></li>
            @foreach (var folder in Model.Children()) {
                <li class="portfolio-list"><a class="portfolio-list @(tag == folder.Name  ? "on" : "")" href="@Model.Url?tag=@folder.Name">@folder.Name.ToLower()</a></li>
            }
        </ul>

    </div>
    <div class="portfolio-grid">
        @foreach (var property in projects) {
            <a href="@property.Url" class="portfolio-flex-content transit transit-fade-up">
                <img class="img-responsive" src="@property.ProjectImage.GetCropUrl(width: 800, height: 500)" width="800" height="500" />
                <div class="portfolio-flex-content-text">
                    <p>view project.</p>
                    <h1>@property.Name</h1>
                </div>
            </a>
        }
    </div>
</section>

