﻿@inherits UmbracoViewPage<Project>
@using Create.Web.Models.View
@{
    Layout = "Base.cshtml";
    var home = Model.AncestorOrSelf<Home>();
    var links = home.Children().Where(l => l.IsVisible()).OrderBy(l => l.SortOrder);
}




<section class="project" style="background-image:url(@Model.ProjectImage.Url)">
    <div class="project-flex">
        <p>project</p>
        <h1 class="transit transit-fade-up">@Html.Raw(Model.ProjectName)</h1>
        <a href="#project" class="btn view-gallery">
            view gallery
        </a>
    </div>

    <div class="slide">
        <i class="fa fa-times gallery-close"></i>
        <div class="swiper-container swiper-container-gal">
            <div class="swiper-wrapper swiper-wrapper-gal">
                @foreach (var image in Model.GalleryImages) {
                    <div class="swiper-slide swiper-slide-gal" style="background-image:url(@image.Url)"></div>
                }
            </div>
            <div class="swiper-button-next swiper-button-white swiperbn "></div>
            <div class="swiper-button-prev swiper-button-white swiperbp"></div>
        </div>
    </div>
</section>


<section class="brief">
    <div class="container-nr">
        <div class="brief-flex">
            <div class="brief-content">
                <div class="brief-content-main">
                    @Html.Raw(Model.ProjectBrief)
                </div>
            </div>
            <div class="swiper-container image-container swiper-container-highlight">
                <div class="swiper-wrapper">
                    @foreach (var image in Model.HighlightedImages) {
                        <div class="swiper-slide image-slide" style="background-image: url(@image.Url)"></div>
                    }
                </div>
                @if (Model.HighlightedImages.Count() > 1) {
                    <div class="swiper-pagination"></div>
                }
            </div>
        </div>
    </div>
</section>

@if (Model.HasValue("testimonialPicker")) {

    <section class="testimonial">
        <div class="container">

            <div class="swiper-container tesimonial-slider" style="padding-bottom: 30px;">
                <i class="fas fa-quote-left"></i>
                <div class="swiper-wrapper" style="margin: 10px 0;">
                    @foreach (var testimonial in Model.TestimonialPicker) {
                        var t = testimonial as Testimonial;
                        <div class="swiper-slide testimonial-slider-slide"> <p>@t.TestimonialText</p></div>

                    }
                </div>
                <i class="fas fa-quote-right"></i>
            </div>
        </div>
    </section>
}

@if (Model.HasValue("ProjectVideo")) {
    <section class="vr-no">
        <div class="container">
            <h4>Experience your new plans like never before…</h4>
        </div>
        <video controls>
            <source src="@Model.ProjectVideo.Url" type="video/mp4" />
        </video>
    </section>
}




<section class="gallery">
    <div class="container">
        <h4>gallery at a glance</h4>
    </div>
    <div class="gallery-container">
        <div class="gallery-flex popup-gallery">
            @foreach (var image in Model.GalleryImages) {
                <a class="gallery-flex-content" data-fancybox="gallery" href="@image.Url">
                    <img class="img-responsive" src="@image.GetCropUrl(width: 434, height: 434)" />
                </a>
            }
            <div class="gallery-flex-content"></div>
        </div>
    </div>
</section>

@if (Model.HasValue("relatedProjects")) {
    <section class="related">
        <div class="container">
            <h4>more projects</h4>
        </div>
        <div class="related-flex">
            @foreach (var related in Model.RelatedProjects) {
                var rp = related as Project;
                <a href="@rp.Url" class="related-flex-content">
                    <div class="inner" style="background-image:url(@rp.ProjectImage.Url);">
                    </div>
                    <div class="related-flex-content-text">
                        <h1>@rp.Name</h1>
                        <p>view project</p>
                    </div>

                </a>
            }
        </div>
    </section>
}



<div class="slide-overlay"></div>

