/**umb_name:h1*/
h1{font-size: 60px;
line-height: 60px;}

/**umb_name:h2*/
h2{font-size: 35px;
line-height: 35px;}

/**umb_name:h3*/
h3{font-size: 30px;
font-size: 35px;}

/**umb_name:h4*/
h4 {
    font-size: 25px;
}

/**umb_name:normal*/
p {
    font-size: 17px;
}

/**umb_name:blockquote*/
.blockquote {
    font-size: 30px;
}