﻿@import "vars.scss";

.about-content{
    position: relative;
}

.people {
    margin-top: 50px;

    &-flex {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;

        @media(min-width: $screen-md) {
            justify-content: flex-start;
        }

        &-container {
            width: 100%;
            border-bottom: 1px solid #fff;
            transition: all linear .5s;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            cursor: pointer;
            position: relative;

            @media(min-width: $screen-md) {
                margin: 0;
            }

            &:hover {

                h2, h4, p {
                    opacity: 1;
                }

                &:after {
                    @media(min-width: $screen-md) {
                        opacity: 1;
                        background: linear-gradient( -91deg, rgba(13,0,45, .7) 0%, rgba(135,28,102, .7) 100%);
                    }
                }
            }

            &:after {
                background: linear-gradient( -91deg, rgba(13,0,45, .7) 0%, rgba(135,28,102, .7) 100%);
                height: 100%;
                width: 100%;
                content: "";
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                position: absolute;
                display: block;

                @media(min-width: $screen-md) {
                    opacity: 0;
                    transition: all .3s linear;
                }
            }

            &-text {
                position: absolute;
                z-index: 4;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%);
            }

            h2, h4, p {
                color: $brand-white;
                font-weight: 300;
                padding: 0 10px;
                display: block;

                @media(min-width: $screen-md) {
                    opacity: 0;
                    transition: all .5s linear;
                }
            }

            h4 {
                width: 70%;
                margin: 0 auto;
            }

            p {
                text-align: left;
                position: absolute;
                bottom: 10%;
                left: 25%;
                font-weight: 400;
                font-size: 18px;
                z-index: 4;

                &:before {
                    opacity: 1;
                    position: absolute;
                    left: calc(100% + 40px);
                    top: 55%;
                    height: 10px;
                    width: 10px;
                    transform: rotate(45deg) translate(-30%,-30%);
                    content: '';
                    border-right: 1px solid $brand-white;
                    border-top: 1px solid $brand-white;
                    transition: opacity .3s ease-out;
                    transition-delay: .7s;
                }

                &:after {
                    content: "";
                    position: absolute;
                    left: 100%;
                    top: 55%;
                    width: 50px;
                    height: 1px;
                    z-index: 20;
                    opacity: 1;
                    background-color: $brand-white;
                    transition: all .3s ease-out;
                    transition-delay: .4s;
                }
            }

            @media(min-width: $screen-xs) {
                width: 50%;
                border-right: 1px solid #fff;
            }

            @media(min-width: $screen-md) {
                width: 33.3%;
                background: #dbdbdb;
            }

            @media(min-width: $screen-lg) {
                width: 25%;
            }
        }
    }
}

.textcall {
    padding: 75px 0;

    @media(min-width: $screen-md) {
        padding: 150px 0;
    }

    h2 {
        font-weight: 300;
    }

    h4 {
        font-weight: 300;
        font-size: 20px;

        @media(min-width: $screen-md) {
            width: 60%;
            font-size: 26px;
        }
    }

    p {
        @media(min-width: $screen-md) {
            width: 60%;
        }
    }
}

///Employee Bio Popup Styles


.employee-overlay {
    background: #E3E3E3;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    bottom: 0;
    right: 0;
    z-index: 99;

    &.on {
        display: block;
    }

    h2 {
        font-size: 30px;
        color: #fff;
        text-align: center;

        &:after {
            content: '';
            width: 112px;
            height: 2px;
            background-color: #945e47;
            margin: 0 auto;
            position: absolute;
            left: 0;
            bottom: 48px;
            right: 0;
        }
    }

    h3 {
        font-size: 18px;
        color: #fff;
        text-align: center;
        padding-bottom: 20px;

        @media(min-width: $screen-sm) {
            font-size: 17px;
        }
    }
}


.hide-bio {
    display: none;
}


.employeepopup {
    position: fixed;
    display: none;
    flex-direction: column;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 90%;
    z-index: 999;
    background: #fff;
    font-size: 12px;
    box-shadow: 18.5px 23.6px 38px 0 rgba(0, 45, 55, 0.26);

    @media(min-width: $screen-sm) {
        width: 80%;
    }






    &-image {
        display: none;
        @include background-cover();
        background-position: 10% !important;
        min-height: 600px;

        @media(min-width: $screen-md) {
            width: 49.5%;
            display: block;
        }

        img {
            display: block;
        }
    }

    &-content {
        margin: 0 auto;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        flex-direction: column;

        @media(min-width: $screen-md) {
            padding: 40px;
        }

        @media(min-width: $screen-lg) {
            flex-direction: row;
        }

        &-image {
            display: none;

            @media(min-width: $screen-lg) {
                width: 50%;
                display: block;
            }
        }

        &-text {
            width: 90%;
            margin: 0 auto;

            @media(min-width: $screen-lg) {
                width: 45%;
            }
        }

        .qual {
            margin-top: 10px;
            margin-bottom: 20px;
        }

        h1 {
            font-weight: 300;
        }

        h4 {
            margin-bottom: 20px;
        }

        p {
            font-weight: 300;
            font-size: 14px;
            line-height: 24px;
            text-align: justify;

            @media(min-width: $screen-sm) {
                font-size: 18px;
            }
        }
    }

    .social {
        margin-top: 20px;

        .fab {
            font-size: 40px;
            transition: all linear .3s;

            &:hover {
                color: $brand-purple;
            }
        }
    }

    .fa-times {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 20px;
        color: $brand-purple;
    }

    :hover {
        cursor: pointer;
    }


    &.on {
        display: flex;
    }
}

.employee-text {
    margin-top: 10px;
    margin-bottom: 15px;
}


.docs {
    margin-bottom: 50px;
    h4 {
        color: $brand-purple;
    }

    &-flex {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &-content {
            margin-right: 20px;
            margin-bottom: 50px;
            position: relative;
            width: 90%;

            @media(min-width: $screen-sm) {
                width: 30%;
            }

            p {
                margin-bottom: 10px;
                @media(min-width: $screen-sm) {
                    margin-bottom: 30px;
                }

                &:first-child {
                    font-weight: bold;
                    margin-bottom: 10px;
                }
            }

            .btn {
                margin: 0;
                padding: 5px 10px 7.5px 10px;
                width: 130px;

                @media(min-width: $screen-sm) {
                    position: absolute;
                    bottom: -30px;
                    left: 0;
                }
            }
        }
    }
}
