﻿@import "vars.scss";

.news {

    &-flex {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        @media(min-width: $screen-md) {
            flex-direction: row;
        }

        &-logo {
            display: none;

            @media(min-width: $screen-md) {
                position: absolute;
                display: block;
                top: 50px;
                left: 100px;
                z-index: 2;
            }
        }

        &-list {
            padding: 50px 50px 30px 50px;
            display: none;

            @media(min-width: $screen-md) {
                display: block;
            }

            &-content {
                display: flex;
                justify-content: flex-end;
                list-style: none;
                border-bottom: 1px solid #e3e3e3;
                padding-bottom: 20px;

                li {
                    padding-left: 22px;

                    a {
                        position: relative;

                        &:hover {
                            &:before {
                                display: block;
                            }
                        }

                        &:before {
                            display: none;
                            content: "•";
                            color: $brand-purple;
                            right: -14px;
                            font-size: 28px;
                            bottom: -10px;
                            position: absolute;
                        }
                    }
                }
            }
        }


        &-image {
            .inner {
            }

            @include background-cover();
            position: relative;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            width: 100%;
            height: 100vh;

            @media(min-width: $screen-md) {
                width: 50%;
                position: sticky;
                top: 0;
            }

            &-link {
                position: absolute;
                bottom: 80px;
                color: $brand-white;
                z-index: 1;
                font-weight: 300;
                left: 5%;

                &:hover {
                    a {
                        .fa-angle-left {
                            @media(min-width: $screen-md) {
                                left: -5%;
                            }
                        }
                    }
                }

                @media(min-width: $screen-sm) {
                    left: 15%;
                }


                a {
                    margin-left: 50px;


                    .fa-angle-left {
                        position: absolute;
                        left: 0;
                        top: 55%;
                        transform: translate(0, -40%);
                        transition: all .3s linear;
                    }
                }
            }

            &-text {
                width: 90%;
                position: relative;
                z-index: 1;

                @media(min-width: $screen-sm) {
                    width: 70%;
                }

                @media(min-width: $screen-md) {
                }



                h1 {
                    color: $brand-white;
                    font-weight: 700;
                    font-size: 40px;

                    @media(min-width: $screen-lg) {
                        font-size: 70px;
                        line-height: 70px;
                    }
                }

                h3 {
                    color: $brand-white;
                    font-weight: 300;
                    margin: 10px 0 20px 0;
                }

                p {
                    opacity: .2;
                    color: $brand-white;
                }
            }

            &:after {
                content: "";
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient( -91deg, rgba(13,0,45, .6) 0%, rgba(135,28,102, .6) 100%);
                position: absolute;
            }
        }

        &-content {
            width: 100%;

            @media(min-width: $screen-md) {
                width: 50%;


                &::-webkit-scrollbar {
                    display: none;
                }
            }


            &-text {
                margin: 0 auto;
                font-size: 17px;
                height: 100%;
                padding-bottom: 25px;
                width: 90%;
                padding-top: 50px;

                @media(min-width: $screen-md) {
                    width: 70%;
                    padding-top: 0;


                    &::-webkit-scrollbar {
                        display: none;
                    }
                }

                .blockquote {
                    font-size: 40px;
                    line-height: 43px;
                    color: $brand-purple;
                    font-weight: 400;
                    border-left: 1px solid rgba(131, 28, 101, .3);
                    margin: 20px 0 20px 50px;
                    padding: 10px 0 10px 8px;

                    @media(min-width: $screen-lg) {
                        margin: 40px 0 40px 100px;
                        padding: 20px 0 20px 15px;
                    }
                }
            }
        }
    }
}


