﻿@import "about.scss";
@import "article.scss";
@import "contact.scss";
@import "footer.scss";
@import "hamburger.scss";
@import "home.scss";
@import "lightbox.scss";
@import "magnific.scss";
@import "nav.scss";
@import "news.scss";
@import "portfolio.scss";
@import "project.scss";
@import "richText.scss";
@import "vars.scss";

html {
    box-sizing: border-box;
    margin: 0 !important;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: $font-color;
    font-family: $europa;
    font-size: 18px;
    font-weight: 400;
    background-color: #1a2646;
    margin: 0;
    padding: 0;    
    -webkit-font-smoothing: antialiased;

    &.hidden{
        overflow:hidden;
    }
}

.create-wrap {
    background-color: #fff;
    margin: 0 auto;
    width: 100%;
    position: relative;
    max-width: 1600px;
    min-height: 800px;    
    overflow: hidden;
    @media(min-width: $screen-md){
        overflow: visible;
    }
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-weight: 400;
}

a {
    color: inherit;
    text-decoration: none;
}

.nav-container {
    padding: 45px 25px 45px 25px;

    @media(min-width: $screen-md) {
        padding: 25px 50px 45px 100px;
    }
}


.container {
    padding: 0 25px;

    @media(min-width: $screen-md) {
        padding: 0 75px 0 100px;
    }

    @media(min-width: $screen-lg) {
        padding: 0 150px 0 200px;
    }
}

.container-nr {
    padding: 0 25px;

    @media(min-width: $screen-md) {
        padding: 0 0 0 100px;
    }

    @media(min-width: $screen-lg) {
        padding: 0 0 0 200px;
    }
}

h1 {
    font-size: 35px;

    @media(min-width: $screen-md) {
        font-size: 50px;
    }
}


h2 {
    font-size: 30px;

    @media(min-width: $screen-md) {
        font-size: 40px;
    }
}

h3 {
    font-size: 20px;

    @media(min-width: $screen-md) {
        font-size: 30px;
    }
}


h4 {
    font-size: 20px;
}


.btn {
    background-color: $brand-purple;
    padding: 10px 20px 15px 20px;
    text-align: center;
    color: $brand-white;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    display: block;
    max-width: 145px;
    transition: all .3s linear;

    &:hover {
        background-color: $brand-blue;
    }
}

.transit {
    opacity: 0;
    transition: transform .9s cubic-bezier(.19,1,.22,1), opacity .6s linear;

    &.transit-short {
        transition: transform .4s cubic-bezier(.19,1,.22,1), opacity .6s linear;
    }

    &.transit-top {
        transform: translate(0, -100px);
    }

    &.transit-bottom {
        transform: translate(0, 100px);
    }

    &.transit-left {
        transform: translate(-25%, 0);
    }

    &.transit-right {
        transform: translate(25%, 0);
    }

    &.transit-fade-up {
        transform: translate(0, 50px);
    }
}

.transitted {
    transform: translate(0, 0) !important;
    opacity: 1 !important;
}

.content{
    margin: 50px 0;
    h2{
        color: $brand-purple;
        margin-bottom: 20px;
    }
}