﻿@import "vars.scss";

.contact {
    min-height: 100vh;
    width: 100%;

    &-flex {
        display: flex;
        width: 100%;
        flex-direction: column-reverse;

        @media(min-width: $screen-md) {
            flex-direction: row;
            min-height: 100vh;
        }

        &-map {
            width: 100%;

            @media(min-width: $screen-md) {
                width: 50%;
            }
        }

        &-text {

            width: 100%;
            min-height: 70vh;
            @include background-cover();
            position: relative;           
            color: $brand-white;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            .inner{
                padding: 20px;
            }
            &-title {
               
            }

            @media(min-width: $screen-md) {
                width: 50%;
                height: 100vh;
            }

            h1, h2, h3, h4 {
                color: $brand-white;
                position: relative;
                z-index: 4;
                font-weight: 300;
                
            }

            h4 {
            }

            .details {
                margin: 35px 0 20px 0;
                a{
                    font-weight: bold;
                }
            }

            &:after {
                content: "";
                height: 100%;
                width: 100%;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                position: absolute;
                background: linear-gradient( -91deg, rgba(13,0,45, .7) 0%, rgba(135,28,102, .7) 100%);
            }
        }
    }
}



#map {
    width: 100%;
    min-height: 70vh;

    @media(min-width: $screen-md) {
        height: 100vh;
    }
}
