﻿@import "vars.scss";

.footer {
    background-color: $brand-blue;
    width: 100%;

    &-flex {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        @media(min-width: $screen-md) {
            flex-direction: row;
        }

        &-left {
            font-size: 16px;
            color: $brand-white;
            width: 100%;
            margin-bottom: 50px;

            @media(min-width: $screen-md) {
                width: 40%;
                margin-bottom: 0;
            }

            p {
                line-height: 25px;
                font-size: 16px;
            }

            &-social {
                margin-top: 20px;

                .fab {
                    margin-right: 10px;
                    font-size: 25px;

                    &:hover {
                        color: $brand-purple;
                    }
                }
            }

            &-images {
                display: flex;
                justify-content: space-between;
                margin-top: 40px;
                flex-wrap: wrap;

                img {
                    margin-bottom: 20px;
                }
            }

            &-links {
                p {
                    @media(min-width: $screen-xs) {
                        display: inline;
                        margin-right: 10px;
                    }
                }
            }
        }

        &-right {
            width: 100%;

            @media(min-width: $screen-md) {
                width: 40%;
            }

            h2 {
                color: $brand-white;
                font-size: 35px;
                font-weight: 700;
                margin-bottom: 30px;

                @media(min-width: $screen-md) {
                    margin-bottom: 60px;
                }
            }

            h4 {
                color: $brand-purple;
                font-size: 23px;
                display: inline;
                padding-right: 20px;
                position: relative;

                &:hover {
                    &:after {
                        left: 80px;
                        opacity: 1;
                    }

                    i {
                        width: 90px;
                    }
                }

                i {
                    display: none;
                    position: absolute;
                    left: 0;
                    margin: 0 auto;
                    top: 140%;
                    width: 51px;
                    height: 1px;
                    opacity: .75;
                    background-color: $brand-purple;
                    transition: width .3s ease-out,opacity .3s linear,-webkit-transform .3s ease-out;
                    transition: transform .3s ease-out,width .3s ease-out,opacity .3s linear;
                    transition: transform .3s ease-out,width .3s ease-out,opacity .3s linear,-webkit-transform .3s ease-out;

                    @media(min-width: $screen-md) {
                        display: block;
                    }
                }

                &:after {
                    display: none;
                    position: absolute;
                    left: 45px;
                    top: 140%;
                    height: 10px;
                    width: 10px;
                    transform: rotate(45deg) translate(-30%,-30%);
                    content: '';
                    border-right: 1px solid $brand-purple;
                    border-top: 1px solid $brand-purple;
                    transition: left .3s ease-out,opacity .3s linear,-webkit-transform .3s ease-out;
                    transition: transform .3s ease-out,left .3s ease-out,opacity .3s linear;
                    transition: transform .3s ease-out,left .3s ease-out,opacity .3s linear,-webkit-transform .3s ease-out;

                    @media(min-width: $screen-md) {
                        display: block;
                        opacity: 0;
                    }
                }



                a {
                    position: relative;

                    &:before {
                        /*
                        content: "";
                        background-color: $brand-purple;
                        height: .5px;
                        position: absolute;
                        width: 50px;
                        top: 150%;
                        left: 50%;
                        margin-right: -50%;
                        z-index: 90;
                        transform: translate(-50%, -50%)
                            */
                    }
                }
            }
        }
    }
}
