﻿@import "vars.scss";

.nav {
    background-color: transparent;
    z-index: 10;
    display: none;

    &#home {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    @media(min-width: $screen-md) {
        display: block;

        &.off {
            display: none;
        }
    }

    img {
        max-width: 200px;
    }



    &-flex {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex: 0 0 100%;
        &-logo {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 10px;

            img {
                padding: 0 20px;
            }
        }


        &.color {
            ul {
                li {
                    color: #000;
                }
            }
        }

        ul {
            list-style: none;
           

            li {
                display: inline-block;
                font-size: 25px;
                color: $brand-white;
                padding: 0 15px;

                @media(min-width: $screen-lg) {
                    padding: 0 20px;
                }



                a {
                    position: relative;
                    height: 100%;

                    &:hover {
                        &:before {
                            opacity: 1;
                        }
                    }

                    &.on {
                        &:before {
                            display: block;
                            content: "•";
                            color: $brand-purple;
                            right: -14px;
                            font-size: 28px;
                            bottom: -10px;
                            position: absolute;
                        }
                    }

                    &:after {
                    }

                    &.on, &:hover {


                        &:after {
                            opacity: 1;
                        }
                    }

                    &:before {
                        opacity: 0;
                        content: "•";
                        color: $brand-purple;
                        right: -14px;
                        font-size: 28px;
                        bottom: -10px;
                        position: absolute;
                    }
                }
            }
        }
    }
}

.mobnav {
    display: block;

    &#home {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    @media(min-width: $screen-md) {
        display: none;
    }

    &-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;

        img {
            max-width: 164px;
        }
    }

    &-links {
        background: $brand-blue;
        width: 100%;
        height: 100vh;
        position: absolute;
        right: -999px;
        top: 0;
        bottom: 0;
        z-index: 400;
        transition: right cubic-bezier(0.65, 0.05, 0.35, 1) .5s;
        display: flex;
        align-items: center;
        align-content: center;

        @media(min-width: $screen-sm) {
            width: 100%;
        }

        &.on {
            right: 0;
        }

        ul {
            text-align: center;
            margin: 0 auto;
            list-style: none;
            padding: 0 10px;
            position: relative;


            li {
                color: $brand-white;
                font-weight: 700;
                font-size: 35px;

                @media(min-width: $screen-sm) {
                    font-size: 60px;
                }
            }
        }
    }
}

.hamburger-inner::after, .hamburger-inner::before {
    background-color: $brand-purple;
}

.hamburger-inner {
    background-color: $brand-purple;
}

button:focus {
    outline: none;
}
