﻿@import "vars.scss";


.newslisting {
    margin-top: 60px;

    &-flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &-container {
            margin-bottom: 70px;
            width: 100%;

            @media(min-width: $screen-xs) {
                width: 45%;
            }

            @media(min-width: $screen-sm) {
                width: 31%;
            }


            .inner {
                overflow: hidden;
            }

            &:hover {
                img {
                    transform: scale(1.1);
                }

                &:after {
                    display: none;
                }
            }

            img {
                transition: all 0.3s;
            }

            p {
                margin: 19px 0 0 0;
                font-size: 14px;
                font-weight: 300;

                span {
                    color: $brand-purple;
                    font-weight: 400;
                }
            }

            h4 {
                margin: 0;

                @media(min-width: $screen-md) {
                    font-size: 25px;
                }
            }
        }
    }
}

#newsmore{
    display: none;

    &.on{
        display: flex;
    }
}

#newsclick{
    text-decoration: underline;
    text-decoration-color: $brand-purple;
    margin-bottom: 50px;
    cursor: pointer;

    &.off{
        display: none;
    }
}