﻿@import "vars.scss";


.intro {
    margin-top: 50px;

    h1, h2 {
        font-weight: 300;

        @media(min-width: $screen-md) {
            width: 70%;
        }
    }
}


.portfolio {

    &-list {

        &:hover {
            border-bottom: 2px solid $brand-purple;
        }

        &.on {
            border-bottom: 2px solid $brand-purple;
        }
    }

    ul {
        list-style: none;
        margin: 100px 0 50px 0;

        li {
            display: inline;
            font-size: 22px;
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &-flex {
        &-content {
            position: relative;

            &:hover {
                .portfolio-flex-content-text {
                    @media(min-width: $screen-lg) {
                        opacity: 1;
                        top: 50%;
                    }

                    p {
                        &:before {
                            opacity: 1;
                            left: calc(100% + 41px);
                            transition-delay: 0.7s;
                        }

                        &:after {
                            transition-delay: 0.4s;
                            width: 51px;
                        }
                    }
                }
            }


            img {
                display: block;
            }

            &-text {
                padding: 10px 0;
                min-width: 100%;
                z-index: 2;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 0%);
                background: linear-gradient( -91deg, rgba(13,0,45, .7) 0%, rgba(135,28,102, .7) 100%);
                transition: all linear .25s;

                @media(min-width: $screen-lg) {
                    opacity: 0;
                    top: 45%;
                    padding: 20px 10px 30px 10px;
                    min-width: 60%;
                    z-index: 2;
                    bottom: auto;
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: linear-gradient( -91deg, rgba(13,0,45, .7) 0%, rgba(135,28,102, .7) 100%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                }

                h1 {
                    color: $brand-white;
                    font-weight: 700;
                    text-align: center;

                    @media(max-width: $screen-xs) {
                        font-size: 25px;
                    }

                    @media(max-width: $screen-lg) {
                        font-size: 35px;
                    }
                }

                p {
                    color: $brand-white;
                    font-weight: 300;
                    position: relative;
                    display: none;

                    @media(min-width: $screen-lg) {
                        display: block;
                    }

                    &:before {
                        opacity: 0;
                        position: absolute;
                        left: calc(100% + 31px);
                        top: 55%;
                        height: 10px;
                        width: 10px;
                        transform: rotate(45deg) translate(-30%,-30%);
                        content: '';
                        border-right: 1px solid $brand-white;
                        border-top: 1px solid $brand-white;
                        transition: opacity .3s ease-out;
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        left: 100%;
                        top: 55%;
                        width: 0px;
                        height: 2px;
                        z-index: 20;
                        opacity: 1;
                        background-color: $brand-white;
                        transition: all .3s ease-out;
                    }
                }
            }
        }
    }

    &-grid {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-gap: 10px;

        @media(min-width: $screen-sm) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-gap: 20px;
        }
    }
}
