﻿@import "vars.scss";

.project {
    width: 100%;
    @include background-cover();
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 65vh;
    min-height: 65vh;

    @media(min-width: $screen-md) {
        min-height: 100vh;
    }

    h1 {
        color: $brand-white;
        font-weight: 700;
        text-shadow: 0px 0px 62px rgba(15, 8, 31, 0.6);
        text-align: center;
        margin-bottom: 50px;
        padding: 0 10px;

        @media(min-width: $screen-sm) {
            font-size: 70px;
        }

        @media(min-width: $screen-md) {
            font-size: 120px;
            line-height: 110px;
        }
    }

    p {
        color: $brand-white;
        text-align: center;
    }
}

.brief {
    padding: 60px 0;

    @media(min-width: $screen-md) {
        padding: 120px 0;
    }

    &-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        flex-direction: column;
        width: 100%;

        @media(min-width: $screen-md) {
            flex-direction: row;
        }
    }

    &-content {
        padding: 30px 0;
        width: 100%;

        @media(min-width: $screen-md) {
            padding: 120px 0;
            width: 60%;
        }

        h4 {
            color: $brand-purple;
        }



        &-main {
            @media(min-width: $screen-md) {
                width: 90%;
            }

            h1, h2 {
                font-weight: 300;
                margin: 0px 0 25px 0;
            }

            p {
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &-slider {
            width: 40%;
        }
    }
}

.image-container {
    width: 100%;
    min-height: 450px;

    @media(min-width: $screen-md) {
        width: 40%;
        min-height: 750px;
    }
}

.image-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    height: 100%;
    @include background-cover();
    align-items: center;
    min-height: 400px;

    @media(min-width: $screen-md) {
        min-height: 700px;
    }
}

.testimonial {


    h4 {
        color: $brand-purple;
        margin-bottom: 20px;
    }
}

.tesimonial-slider {
    height: 100%;
    width: 100%;
    min-height: 230px;
    padding-bottom: 30px;

    @media(min-width: $screen-sm) {
        min-height: 200px;
    }

    @media(min-width: $screen-md) {
        width: 100%;
    }

    .fas {
        color: $brand-purple;
        font-size: 20px;
    }
}

.testimonial-slider-slide {
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    @include background-cover();
    align-items: center;
    min-height: 100px;



    .fa-quote-right {
        position: absolute;
        bottom: 0;
        right: 50%;
    }

    p {
        font-weight: 300;
        font-size: 20px;
        position: relative;

        @media(min-width: $screen-md) {
            width: 70%;
            font-size: 25px;
        }
    }

    @media(min-width: $screen-md) {
    }
}



.swiper-pagination-bullets {
    width: auto !important;
    bottom: 0px !important;
}

.swiper-pagination-bullet-active {
    background: $brand-purple !important;
}

.swiper-pagination-bullet {
    height: 12px !important;
    width: 12px !important;
}

.gallery {
    margin: 40px 0 60px 0;

    @media(min-width: $screen-md) {
        margin: 100px 0 120px 0;
    }

    h4 {
        color: $brand-purple;
    }

    &-container {
        padding: 0 25px;

        @media(min-width: $screen-md) {
            padding: 0 100px;
        }
    }

    &-flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &-content {
            width: 100%;
            margin-top: 20px;

            @media(min-width: $screen-xs) {
                width: 31%;
            }

            &:focus {
                outline: none !important;
            }
        }
    }
}


.related {

    h4 {
        color: $brand-purple;
        margin-bottom: 20px;
    }

    &-flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;

        @media(min-width: $screen-sm) {
            flex-direction: row;
        }


        &-content {
            min-height: 40vh;
            width: 100%;
            margin-top: 10px;
            position: relative;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            overflow: hidden;

            .inner {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
                content: "";
                @include background-cover();
                transform-origin: center center;
                transition: transform 1s 150ms cubic-bezier(.165,.84,.44,1);
            }

            &:hover {
                .inner {
                    transform: scale(1.05, 1.05);
                }
            }

            &-text {
                transition: opacity .4s linear;
                position: relative;
                z-index: 3;
                padding: 0 10px;

                @media(min-width: $screen-lg) {
                    opacity: 0;
                }

                h1 {
                    color: $brand-white;
                    font-weight: 700;
                    text-align: center;
                }

                p {
                    color: $brand-white;
                    text-align: center;
                }
            }

            &:hover {
                @media(min-width: $screen-lg) {
                    .related-flex-content-text {
                        opacity: 1;
                    }

                    &:after {
                        opacity: 1;
                    }
                }
            }

            &:after {
                content: "";
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                height: 100%;
                width: 100%;
                background: linear-gradient( -91deg, rgba(13,0,45, .6) 0%, rgba(135,28,102, .6) 100%);
                position: absolute;
                transition: all .3s linear;

                @media(min-width: $screen-lg) {
                    opacity: 0;
                }
            }

            &:nth-child(3) {
                display: none;
            }

            @media(min-width: $screen-sm) {
                width: 49%;
                margin-top: 0;
            }

            @media(min-width: $screen-md) {
                width: 33%;
                min-height: 80vh;


                &:nth-child(3) {
                    display: flex;
                }
            }
        }
    }
}


//overlay-style


.slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    opacity: 0;
    z-index: -3;

    &.on {
        opacity: 1;
        z-index: 999 !important;
    }

    .fa-times {
        position: absolute;
        right: 30px;
        top: 20px;
        font-size: 30px;
        color: $brand-purple;
        z-index: 90;
    }

    :hover {
        cursor: pointer;
    }
}


.swiper-container-gal {
    width: 100%;
    height: 100vh;
}

.swiper-slide-gal {
    @include background-cover();
}



.slide-overlay {
    background: #E3E3E3;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    bottom: 0;
    right: 0;
    z-index: 99;

    &.on {
        display: block;
    }
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    left: 10px;
    right: auto
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    right: 10px;
    left: auto
}

.swiper-button-prev.swiper-button-white, .swiper-container-rtl .swiper-button-next.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23871C66'%2F%3E%3C%2Fsvg%3E") !important;
}

.swiper-button-next.swiper-button-white, .swiper-container-rtl .swiper-button-prev.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23871C66'%2F%3E%3C%2Fsvg%3E") !important;
}

