﻿@import "vars.scss";

.rte {
    h1, h2, h3, h4 {
        margin: 30px 0 10px 0;
    }
    /**umb_name:h1*/
    h1 {
        font-size: 60px;
    }
    /**umb_name:h2*/
    h2 {
        font-size: 35px;
    }
    /**umb_name:h3*/
    h3 {
        font-size: 30px;
    }
    /**umb_name:h4*/
    h4 {
        font-size: 25px;
    }
    /**umb_name:normal*/
    p {
        font-size: 17px;
        font-weight: 300;
        margin: 2px 0;
    }

    ul {
        margin: 20px 0 20px 0;

        li {
            margin-bottom: 10px;
            font-weight: 300;
            list-style: inside;
            font-size: 17px;
        }
    }
    /**umb_name:blockquote*/
    .blockquote {
        font-size: 40px;
        line-height: 43px;
        color: $brand-purple;
        font-weight: 400;
        border-left: 1px solid rgba(131, 28, 101, .3);
        margin: 20px 0 20px 50px;
        padding: 10px 0 10px 8px;

        @media(min-width: $screen-lg) {
            margin: 40px 0 40px 100px;
            padding: 20px 0 20px 15px;
        }
    }

    table.dataTable th,
    table.dataTable td {
        white-space: nowrap;
    }
}
