﻿$screen-xs: 500px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1400px;
//Available in 300, 400 and 700;
$europa: "europa",sans-serif;
$font-color: #0A1739;
$brand-blue: #031036;
$brand-purple: #871C66;
$brand-white: #fff;
$brand-grey: #6f6f6f;
$brand-red: #d24d52;



@mixin background-cover() {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin background-size($prop) {
    background-size: $prop;
}

$easeOutExpo: cubic-bezier(0.190, 1.000, 0.220, 1.000);
$easeInExpo: cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeInOutExpo: cubic-bezier(1.000, 0.000, 0.000, 1.000);
$cb: cubic-bezier(0.65, 0.05, 0.35, 1);


@mixin psuedo() {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

@mixin pseudo() {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

@mixin psuedobase() {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
}

@mixin background-cover() {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@mixin abs-cover() {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}



