﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Create.Web.Models.View

@{
    var home = Model.Content.AncestorOrSelf<Home>();
    var settings = home.Descendant<Settings>();
}

<footer class="footer">
    <div class="nav-container">
        <div class="footer-flex">
            <div class="footer-flex-left">
                <p>Create Ltd</p>
                <p>@settings.Address</p>
                <p>T:<a target="_blank" href="tel:@settings.TelephoneNumber" onclick="gtag('event', 'Click', { 'event_category': 'Outbound Link', 'event_action':'Click','event_label':'Telephone' });"> @settings.TelephoneNumber</a></p>
                <p>E: <a target="_blank" href="mailto:@settings.EmailAddress" onclick="gtag('event', 'Click', { 'event_category': 'Outbound Link', 'event_action':'Click','event_label':'Email' });"> @settings.EmailAddress</a></p>


             

                <div class="footer-flex-left-social">
                    @if (!string.IsNullOrEmpty(settings.Facebook)) {
                        <a href="@settings.Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    }
                    @if (!string.IsNullOrEmpty(settings.Instagram)) {
                        <a href="@settings.Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
                    }
                    @if (!string.IsNullOrEmpty(settings.Linkedin)) {
                        <a href="@settings.Linkedin" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    }
                    @if (!string.IsNullOrEmpty(settings.Twitter)) {
                        <a href="@settings.Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                    }
                    @if (!string.IsNullOrEmpty(settings.Youtube)) {
                        <a href="@settings.Youtube" target="_blank"><i class="fab fa-youtube"></i></a>
                    }
                </div>
                <div class="footer-flex-left-images">                    
                    <a href="https://www.architecture.com/" target="_blank"><img class="img-responsive" src="~/public/img/ribalight.png" /></a>
                    <a href="http://www.arb.org.uk/" target="_blank"><img class="img-responsive" style="max-height:40px" src="~/public/img/arb-white-logo-opacity.png" /></a>
                    <a href="https://www.rics.org/uk/" target="_blank"><img class="img-responsive" src="~/public/img/ricslight.png" /></a>
                    <a href="https://guernseychamber.com/" target="_blank"><img class="img-responsive" src="~/public/img/gcc-2021-alpha.png" style="max-height: 40px;" /></a>
                </div>
                <div class="footer-flex-left-links">
                    <p><a href="/privacy-statement" style="text-decoration: underline;">Privacy Statement</a></p>
                    <p><a href="/about#docs" style="text-decoration: underline;">Helpful Documents</a></p>
                </div>
            </div>
            <div class="footer-flex-right">
                <h2>@settings.FooterTagline</h2>
                <div class="footer-flex-right-links">
                    @foreach (var link in settings.FooterLinks) {
                        var l = link as FooterLinks;
                        <h4><a href="@l.Link.Url">@l.Text</a><i class=""></i></h4>
                    }
                </div>
            </div>
        </div>
    </div>
</footer>