﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var title = Model.Content.GetPropertyValue<string>("metaTitle");

    if (string.IsNullOrEmpty(title)) {
        title = Model.Content.GetPropertyValue<string>("pageTitle");
    }
    if (string.IsNullOrEmpty(title)) {
        title = Model.Content.Name;
    }
}
<title>@title | Create @Umbraco.GetDictionaryValue("SiteName")</title>
