﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Create.Web.Models.View
@{
    var home = Model.Content.AncestorOrSelf<Home>();
    var links = home.Children().Where(l => l.IsVisible()).OrderBy(l => l.SortOrder);
    var navColour = Umbraco.GetPreValueAsString(Model.Content.GetPropertyValue<int>("navColour"));
}


@if (navColour == "White") {
    <nav class="nav" id="home">
        <div class="nav-container">
            <div class="nav-flex-logo">
                @if (Model.Content.Id == home.Id) {
                    <a href="https://guernseychamber.com/" target="_blank"><img class="img-responsive" src="~/public/img/gcc-2021-white.png" style="max-height: 40px;" /></a>
                    <a href="https://www.rics.org/uk/" target="_blank"><img class="img-responsive" src="~/public/img/rics-white.png" style="max-height: 40px;" /></a>
                    <a href="https://www.architecture.com/" target="_blank"><img class="img-responsive" src="~/public/img/riba-white.png" style="max-height: 40px;" /></a>
                    <a href="http://www.arb.org.uk/" target="_blank"><img class="img-responsive" src="~/public/img/arb-white-logo.png" style="max-height: 40px;" /></a>
                } else {
                    <a href="https://guernseychamber.com/" target="_blank"><img class="img-responsive" src="~/public/img/gcc-2021-black.png" style="max-height: 40px;" /></a>
                    <a href="https://www.rics.org/uk/" target="_blank"><img class="img-responsive" src="~/public/img/rics-logo.png" style="max-height: 40px;" /></a>
                    <a href="https://www.architecture.com/" target="_blank"><img class="img-responsive" src="~/public/img/riba-logo.png" style="max-height: 40px;" /></a>
                    <a href="http://www.arb.org.uk/" target="_blank"><img class="img-responsive" src="~/public/img/newarb.png" style="max-height: 40px;" /></a>
                }
            </div>
            <div class="nav-flex">
                <a href="/"><img class="img-responsive" src="~/public/img/logo.png" /></a>
                <ul class="nav-flex-list">
                    @foreach (var l in links) {
                        <li><a href="@l.Url" class="@(Model.Content.Id == l.Id ? "on" : "")">@l.Name.ToLower()</a></li>
                    }

                </ul>
            </div>
        </div>
    </nav>
    <nav class="mobnav" id="home">
        <div class="nav-container">
            <div class="mobnav-flex">
                <a href="/"><img class="img-responsive" style="position: relative; z-index: 2;" src="~/public/img/logo.png" /></a>
                <button class="hamburger hamburger--stand" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
        <div class="mobnav-links">
            <ul>
                @foreach (var l in links) {
                    <li><a href="@l.Url">@l.Name.ToLower()</a></li>
                }
            </ul>
        </div>
    </nav>
} else if (navColour == "Black") {
    <nav class="nav">
        <div class="nav-container">
            <div class="nav-flex-logo">
                <a href="https://guernseychamber.com/" target="_blank"><img class="img-responsive" src="~/public/img/gcc-2021-black.png" style="max-height: 40px;" /></a>
                <a href="https://www.rics.org/uk/" target="_blank"><img class="img-responsive" src="~/public/img/rics-logo.png" style="max-height: 40px;" /></a>
                <a href="https://www.architecture.com/" target="_blank"><img class="img-responsive" src="~/public/img/riba-logo.png" style="max-height: 40px;" /></a>
                <a href="http://www.arb.org.uk/" target="_blank"><img class="img-responsive" src="~/public/img/newarb.png" style="max-height: 40px;" /></a>
            </div>
            <div class="nav-flex color ">

                <a href="/"><img class="img-responsive" src="~/public/img/create.png" /></a>

                <ul class="nav-flex-list">
                    @foreach (var l in links) {
                        <li><a href="@l.Url" class="@(Model.Content.Id == l.Id ? "on" : "")">@l.Name.ToLower()</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>


    <nav class="mobnav">
        <div class="nav-container">
            <div class="mobnav-flex">

                <a href="/"><img class="img-responsive" src="~/public/img/create.png" /></a>



                <button class="hamburger hamburger--stand" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
        <div class="mobnav-links">
            <ul>
                @foreach (var l in links) {
                    <li><a href="@l.Url">@l.Name.ToLower()</a></li>
                }
            </ul>
        </div>
    </nav>


} else if (navColour == "Purple") {
    <nav class="nav" id="home">
        <div class="nav-container">
            <div class="nav-flex-logo">
                <a href="https://www.rics.org/uk/" target="_blank"><img class="img-responsive" src="~/public/img/rics-logo.png" style="max-height: 40px;" /></a>
                <a href="https://www.architecture.com/" target="_blank"><img class="img-responsive" src="~/public/img/riba-logo.png" style="max-height: 40px;" /></a>
                <a href="http://www.arb.org.uk/" target="_blank"><img class="img-responsive" src="~/public/img/newarb.png" style="max-height: 40px;" /></a>
            </div>
            <div class="nav-flex">
                <a href="/"><img class="img-responsive" src="~/public/img/create.png" /></a>
                <ul class="nav-flex-list">
                    @foreach (var l in links) {
                        <li style="color: #871C66;"><a href="@l.Url" class="@(Model.Content.Id == l.Id ? "on" : "")">@l.Name.ToLower()</a></li>
                    }

                </ul>
            </div>
        </div>
    </nav>
    <nav class="mobnav" id="home">
        <div class="nav-container">
            <div class="mobnav-flex">
                <a href="/"><img class="img-responsive" style="position: relative; z-index: 2;" src="~/public/img/create.png" /></a>
                <button class="hamburger hamburger--stand" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
        <div class="mobnav-links">
            <ul>
                @foreach (var l in links) {
                    <li><a href="@l.Url">@l.Name.ToLower()</a></li>
                }
            </ul>
        </div>
    </nav>
} else {



}
